body {
  background-color: rgb(216, 0, 0);
}
p {
  color: black;
  background-color:rgb(66, 206, 244);
  font-size:25px;
}

h1 {
  font-weight:bold;
  text-align:center;
  color:black;
  background-color:white;
  text-decoration:underline;
  font-size:35px;
}

.home {
  width:125px;
  height:100px;
  border:ridge;
  border-color:rgb(0, 18, 155);
  border-radius: 100px;
  border-width: 9px;
}

li {
  font-size: 22px;
  color:black;
  background-color:rgb(0,200,200);
}

ul {
  background-color: rgb(245,200,0);
}


.ny {
  height: 550px;
  width: 920px;
  border:ridge;
  border-width: 15px;
  border-color:rgb(250,150,0);
}

.titan {
  height: 550px;
  width: 890px;
  border:ridge;
  border-width: 15px;
  border-color:rgb(250,100,0);
}

.cw {
  height: 570px;
  width: 1250px;
  border:ridge;
  border-width: 20px;
  border-color:rgb(0,70,200);
}

.snap {
  border:ridge;
  border-width:20px;
  border-color:gold;
  height:400px;
}

.Sokovia {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:dimgray;
}

.cap {
  height:400px;
  border:ridge;
  border-width:20px;
  border-color:rgb(13, 91, 216);
}

.thunder {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(0, 204, 204);
}

.jordan {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:goldenrod;
}

.challa {
  height:400px;
  width:800px;
  border:ridge;
  border-width:20px;
  border-color:rebeccapurple;
}

.monger {
  width:950px;
  border:ridge;
  border-width:20px;
  border-color:rgb(71, 71, 71);
}

.foot {
  font-size:25px;
  background-color:black;
  color:red;
}

.win {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(19,135,190);
}

.iron {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:rgb(250,150,0);
}

.des {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:lightslategray;
}

.civil {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:steelblue;
}

.male {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:darkred;
}

.iw {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:seagreen;
}

.kreeteam {
  height: 500px;
  border:ridge;
  border-width:20px;
  border-color:#69698b;
}

.train {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: #836c5f;
}

.binary {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:#3b495c;
}

.insight {
  height: 500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(46,55,68);
}

.capskull {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(36,67,87);
}

.thorban {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(132,98,61);
}

.rainbow {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(226, 223, 0);
}

.attheli {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(96,94,95);
}

.bpws {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:darkslategray;
}

.avh {
  border: ridge;
  border-color:rgb(76, 245, 245);
  border-width: 20px;
  height:500px;
}

.bpvb {
  border: ridge;
  border-color:rgba(0, 0, 0, 0.79);
  border-width: 20px;
  height:500px;
}

.bpvkm {
  border: ridge;
  border-color:#CF8733;
  border-width: 20px;
  height:500px;
}

.smvv {
  border: ridge;
  border-color:#308F4D;
  border-width: 20px;
  height:500px;
}

.rag {
  border: ridge;
  border-color:#B83D17;
  border-width: 20px;
  height:500px;
}

.end {
  border: ridge;
  border-color:#3D4460;
  border-width: 20px;
  height:500px;
}

.ffhfb {
  border:ridge;
  border-width:20px;
  height:500px;
  border-color:#6A0A16;
}

.ffhexposed {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:#7C0010;
}

.swvsag {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: #BF0834;
}

.jmurder {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: #2B0304;
}

.swcap {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: #283757;
}

.lokil {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: rebeccapurple;
}

.multiun {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: rgb(19,	34,	73);
}

.reddes {
  height: 500px;
  border:ridge;
  border-width:20px;
  border-color: rgb(66,	12,	9);	
}
