body {
  background: rgb(13, 0, 99);
}

p {
  color: white;
  font-size:28px;
  background-color:darkslategray;
}

h1 {
  font-weight:bold;
  text-align:center;
  color:black;
  background-color:white;
  text-decoration:underline;
  font-size:35px;
}

h2 {
    font-weight:bold;
    text-align:center;
    color:white;
    background-color:black;
    font-size:30px;
    font-family:Palatino, serif;
    text-decoration:underline;
}

.home {
  width:125px;
  height:100px;
  border:ridge;
  border-color:black;
  border-radius: 100px;
  border-width: 9px;
}

li {
  font-size: 24px;
  color:white;
  background-color:maroon;
    font-family: Verdana, Geneva, sans-serif
}

.star {
    height:550px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:ghostwhite;
}

.more{
    height:600px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(28, 41, 49)
}

.xan {
  border:ridge;
  border-width:20px;
  border-color:rgb(64, 86, 102);
  height:500px;
}

.tower {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(220,0,0);
}

.tor {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(23, 27, 33);
}

.fac {
    height:550px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(58, 76, 64);
}

.ky {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(49, 77, 99);
}

.kyl {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color: dimgrey;
}

.ka {
    height:600px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color: goldenrod;
}

.mid {
    height:600px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(157, 105, 85);
}

.as {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(216, 183, 64);
}

.rag{
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(124, 35, 31);
}

.ear {
    height:600px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(41, 82, 110);
}

.ti4 {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(56, 85, 87);
}

.tipre {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(111, 69, 55);
}

.tfarm {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color: rgb(181, 120, 69);
}

.sa {
  height:450px;
    width:auto;
  border:ridge;
  border-width:20px;
  border-color:rgb(215, 158, 102);
}

.sok {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:darkolivegreen;
}

.soki {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color: rgb(117, 159, 192);
}

.ny{
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(91, 187, 231);
}

.mal {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:whitesmoke;
}

.heli{
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:dimgrey;
}

.cul {
    height:500px;
    width:1100px;
    border:ridge;
    border-width:20px;
    border-color:green;
}

.hel {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(71, 90, 95);
}

.new {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(198, 157, 119);
}

.jo {
    height:500px;
    width:1000px;
    border:ridge;
    border-width:20px;
    border-color:lightskyblue;
}

.mus {
    height:500px;
    width:auto;
    border:ridge;
    border-width:22px;
    border-color:rgb(196, 80, 44);
}

.da {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(15, 34, 34);
}

.cho {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(45, 69, 72);
}

.bu {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(48, 76, 126);
}

.hala {
  border:ridge;
  border-width:20px;
  border-color:cadetblue;
  height:500px;
}

.ego {
    height:600px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color: rgb(181, 58, 71);
}

.zen {
    height:570px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color: forestgreen;
}

.hell {
    height:570px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color:rgb(93, 27, 34);
}

.strange {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:forestgreen;
}

.green {
    height:500px;
    width:auto;
    border:ridge;
    border-width:20px;
    border-color: rgb(136, 126, 112);
}

.bridge {
  height:600px;
  border:ridge;
  border-width:20px;
  border-color:darkslateblue;
}

.quant {
    height:550px;
    border:ridge;
    border-width:20px;
    border-color: rgb(249,121,36)
}





.damage {
  height:600px;
  border:ridge;
  border-width:20px;
  border-color:orangered;
}



.esu {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:azure;
}

.es {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:blue;
}

.central {
  height:600px;
  border:ridge;
  border-width:20px;
  border-color:rgb(0,90,0);
}

.cry {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:rgb(0,0,230);
}

.un {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:rgb(100,0,0)
}

.square {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:red;
}

.fisk {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:black;
}

.raft {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:lightslategray;
}

.rand {
  height:650px;
  border:ridge;
  border-width:20px;
  border-color:rgb(252, 213, 0);
}

.wak {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rebeccapurple;
}

.lun {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(248, 205, 18);
}

.know {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:mediumpurple;
}

.at {
  height:550px;
  border:ridge;
  border-width:20px;
  border-color:seagreen;
}

.foot {
  font-size:25px;
  background-color:darkred;
  color:white;
}

.westview {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: rgb(127,125,126)
}

.hex {
  height:500px;
  border:ridge;
  border-width: 20px;
  border-color:#b93c5d
}

.riga {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: #bdbab2;
}

.prague {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:black;
}

.pizza {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:#ddd4cd;
}

.quackson {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:#36393e;
}

.swordspace {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:#1e2126;
}

.swordhq {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color: #6f8c83;
}

.berlin {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:#c4b9a6;
}

.wilson {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:#655a4c;
}

.mad {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:#294079;
}

.tva {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:beige;
}

.ktva {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(176,159,116);
}

.lamentis {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(104,69,135);
}

.void {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(29,36,47);
}

.lokipal {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(12,40,40);
}

.roxxcart {
  height:500px;
  border:ridge;
  border-width:20px;
  border-color:rgb(65,187,231);
}

.llII {
  height:500px;
  border:ridge;
  border-width: 20px;
  border-color: #032B40;
}
